
/* Classes */
/* ------------------------------------------------------ */
.register {
    margin-bottom: 10px;
}

.paypal-text {
    font-weight: 600;
    color: firebrick;
}

.childList {
    clear: both;
    padding-top: 42px;
}

.kid-num-col {
    padding-left: 47px;
}

.delete-btn:hover {
    transform: scale(1.3);
    cursor: pointer;
  }
  
.delete-btn {
transition: all 0.2s ease-in-out; 
}

/* .paypal {
    float: right;
    text-align: center;
} */

.child-info {
    background-color: #fff;
    width: 75%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #000;

}

.list-group-item {
    padding: .75rem 0px;
}

.kidButton {
    border: 1px solid #000;
}