/* Main styles */
/* ---------------------------------------------------- */
a {
    color: #000;
    font-style: italic;
}

/* Classes */
/* ---------------------------------------------------- */

.navbar {
    padding: 8px 0px 0px 0px;
}

.nav-item {
    margin-left: 7px;
}

.links {
    padding: 5px 10px;
    background-color: #ecf9ff;
}

a:hover {
    text-decoration: none;
}

.log-out {
    float: right;
}

/* ---------------------------------------------------- */