/* Classes */
/* --------------------------------------------- */

.child-form {
    background-color: #fff;
    padding: 12px;
    border: 1px solid #000;
    margin: 40px 0px;
}

.main-child-form {
    background-color: #fff;
    padding: 12px;
    border: 1px solid #000;
    overflow: scroll;
    height: 675px;
    width: 400px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}