/* Classes */
/* ----------------------------------------------------------------- */
.landing-bg {
    background: linear-gradient(
        rgba(255, 255, 255, 0.56), 
        rgba(255, 255, 255, 0.56)
      ),
    url("../../assets/images/landing-bg.jpg");
    background-size: cover;
    height: 750px;
    border: 1px solid #000;
}

.col-home-bg {
    background-color: rgba(255, 255, 255, 0.568);
}

.line { 
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

/* IDs */
/* ----------------------------------------------------------------- */

#homepage {
    margin-bottom: 40px;
}

