
span.help-block {
    display: block;
}

.form-control {
    display: inline-block;
    border-radius: 0px;
}

.continue> button {
    background-color: #e2dfdf;
    border-color: #e2dfdf;
}

.continue> button:hover {
    background-color: #ecf9ff;
    border-color: #ecf9ff;
}

ul {
    list-style-type: none;
    width: 100%;
}

li {
    display: inline-block;
}