/* Main styles*/
/* ---------------------------------------------------- */

.LoginHeadings {
    padding-top: 20px;
}


ul {
    list-style-type: none;
    width: 100%;
}

li {
    display: inline-block;
}

/* Classes */
/* ---------------------------------------------------- */

.form-btn {
    /* margin-top: 7px; */
    border-radius: 0px;
    display: block;
    margin: 7px auto 0;
}

.submit-btn {
    margin-top: 42px;
}

.help-block {
    padding-top: 8px;
}

span.help-block {
    display: block;
}

.form-control {
    display: inline-block;
    border-radius: 0px;
}

.btn-primary {
    border-color: #fff;
}

.continue> button {
    background-color: #e2dfdf;
    border-color: #e2dfdf;
}

.continue> button:hover {
    background-color: #ecf9ff;
    border-color: #ecf9ff;
}

.button-actions {
    background-color: rgba(24, 26, 31, 0.39);
}

.button-actions:hover {
    background-color: #e2dfdf;
    border-color: #000;
}

/* Conditional error class */
/* ---------------------------------------------------- */
.form-group.has-error,
.alert-danger {
    color: red;
}

.address {
    margin-bottom: -28px;
}

