
input {
    display: inline-block;
    margin: 10px;
}

h5,
h4 {
    padding-top: 40px;
}

.form-btn {
    margin-top: 7px;
    border-radius: 0px;
    display: block;
}

/* Conditional error class */
.form-group.has-error {
    color: red;
}
