
h5,
h4 {
    padding-top: 40px;
}

.help-block {
    padding-top: 8px;
}

.form-btn {
    margin-top: 7px;
    border-radius: 0px;
    display: block;
}

.submit-btn {
    margin-top: 42px;
}

/* Conditional error class */
.form-group.has-error {
    color: red;
}

.address {
    margin-bottom: -28px;
}
